
.form-control {
    padding: 1em;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}
.md-form {
    margin-bottom: 1em ;
}
.md-form > input  {
    margin-top: .5em ;
}